//colors
$footer_white: #feffff;
$footer_polar: #e5f7f6;
$white: #fff;
$browser_link_hover: #fdfdfd;
$black: #000;
$green: green;
$red: red;
$blue_selection: #3498db;

//fonts
$font: Panton, Ubuntu, sans-serif;

//original selectors
//.ui.horizontal.page.delivery.segments .ui.segment .ui.form >.field, .ui.horizontal.page.delivery.segments .ui.segment .ui.form >.field label
%extend_2 {
  display: flex;
  flex-direction: column;
  font-family: $font;
  font-size: 14px;
  font-weight: 400;
}

#dark {
  opacity: 0;
}

#back {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.02;
  background-size: 60px;
}

.ui.segment, .ui.horizontal.segments {
  background-color: transparent;
}

webview {
  height: 768px;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: 1024px;
}

#app {
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

nav {
  ul {
    padding: 4px 2px 0;
  }
  li {
    display: inline-block;
    list-style: none;
    padding: 0 2px;
  }
}

.contact-list-segment {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  overflow-x: hidden;
  .scroll {
    flex: 1;
  }
  .item {
    cursor: pointer;
  }
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.page {
  &.delivery {
    display: flex;
    height: calc(100% - 14px);
    > * {
      flex: 1;
      height: 100%;
    }
    .field.text {
      margin-top: 16px;
    }
  }
  &.invite {
    height: calc(100% - 14px);
    .limit {
      [type=number] {
        font-family: $font;
        text-align: right;
        width: 60px;
        all: initial;
      }
      .ui.input {
        display: inline-block;
        all: initial;
      }
    }
    .form-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      > * {
        flex: 1;
      }
      .load-file {
        text-align: left;
      }
      .select-account {
        text-align: right;
        [type=button] {
          margin-left: 6px;
        }
      }
    }
    .field {
      &.contacts {
        margin-top: 4px;
      }
      &.greeting {
        margin-top: 14px;
      }
    }
    small {
      font-size: 0.9em;
      margin-top: 8px;
    }
    form .text-fields > * {
      width: calc(50% - 16px);
    }
  }
  &.account-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > a {
      background: $blue_selection;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 43px;
      color: $white;
      display: block;
      font-family: $font;
      font-size: 17px;
      text-align: center;
      width: 250px;
      margin: 40px 0;
      padding: 15px 25px;
      &:hover {
        opacity: 0.9;
      }
    }
    .remove.icon {
      cursor: pointer;
      font-size: 21px;
      &:hover {
        color: $red;
      }
    }
    .ui.list {
      max-width: 300px;
    }
  }
  &.settings {
    .segment {
      max-width: 400px;
    }
    .reset .control {
      display: flex;
      flex-direction: column;
      button {
        margin-top: 4px;
      }
    }
  }
}

footer {
  background: radial-gradient(attop, $footer_white, $footer_polar);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  img {
    display: inline-block !important;
    height: auto;
    max-width: 45% !important;
  }
  .control {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    > * {
      cursor: pointer;
    }
    i:hover {
      cursor: pointer;
    }
  }
  &.expanded {
    .close {
      position: absolute;
      right: 0;
      top: 0;
    }
    .chevron {
      display: none;
    }
  }
  &.collapsed {
    .close {
      display: none;
    }
    .advertise {
      display: none;
    }
  }
  .two.column.row > .column:first-child {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

p, .copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 8px 0 0 !important;
}

input {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px !important;
  color: $black !important;
  font-family: $font !important;
  letter-spacing: 1px;
  padding: 10px !important;
}

textarea {
  height: 112px;
}

.widget {
  &.contact-list {
    .search {
      width: 100%;
    }
    td {
      padding: 4px 7px;
    }
    tr {
      background-color: transparent;
      &.add .move:before {
        color: $green;
        content: " +";
      }
      &.remove .move:before {
        color: $red;
        content: "– ";
      }
    }
    .move {
      cursor: pointer;
    }
    .table-container {
      position: relative;
      flex: 1 0 auto;
    }
  }
  &.clear-unauthorized {
    margin: 4px auto;
    width: 100%;
  }
}

.ui {
  &.horizontal.page {
    &.delivery.segments {
      > * {
        max-width: 33%;
        min-width: 250px;
      }
      .loader {
        align-items: center;
        display: flex;
        height: 280px;
        justify-content: center;
        margin: -5px;
      }
      .ui.segment .ui.form > {
        .control {
          align-items: center;
          display: flex;
          flex-direction: column;
          font-size: 14px;
          height: 61px;
          justify-content: space-between;
          margin-bottom: 20px;
          strong {
            font-family: $font;
            font-weight: 400;
          }
        }
        .field {
          @extend %extend_2;
          label {
            @extend %extend_2;
          }
        }
      }
    }
    &.segments #select-skype {
      width: 100%;
    }
  }
  &.segment .ui.message .content p {
    font-size: 12px;
    text-align: center;
    margin: 0 !important;
  }
}

.help-question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  .question.circle {
    color: $blue_selection;
    cursor: pointer;
    margin-left: 4px;
  }
}

.help-text {
  margin: 6px 0 0;
  .content p {
    font-size: 12px;
  }
}

.hidden {
  display: none;
}

.nothing {
}

.contact-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  td {
    overflow-x: hidden;
    white-space: nowrap;
  }
  .control {
    display: flex;
  }
  [type=button] {
    min-width: 160px;
  }
  table tbody {
    overflow-x: hidden;
  }
}

.select-account {
  display: flex;
  button.skype {
    min-width: 180px;
  }
}

@media(min-width: 1200px) {
  .contact-list {
    .control {
      min-height: 36px;
    }
    [type=button] {
      margin-left: 6px !important;
    }
  }
  .select-account {
    min-height: 36px;
    button {
      margin-left: 6px !important;
    }
  }
}

@media(max-width: 1199px) {
  .contact-list .control {
    flex-direction: column;
    justify-content: space-between;
    min-height: 76px;
    button {
      margin: 0;
    }
  }
  .page .select-account {
    flex-direction: column;
    justify-content: space-between;
    min-height: 76px;
    button {
      margin: 0;
    }
  }
}

[data-persist="inviteLimitWarning"] {
  max-width: 70vw;
}

.layout.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  .content {
    flex: 1;
    overflow-y: hidden;
  }
}

.content .one.column.row > .column {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.two.column.row .column > .widget.browser-link {
  align-items: center;
  background: $white;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  max-width: 220px;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .1s;
  padding: 13px 13px 15px;
  &:hover {
    background: $browser_link_hover;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .1s;
  }
}

.paginator a {
  max-width: 50px;
}

div.copyright {
  font-weight: 600;
}

.invite .text-fields {
  display: flex;
  justify-content: space-between;
}
