#back {
    background-image: url("images/leader-back.jpg");
    opacity: 0.7;
}

.layout.outdoor .two.column.row p a.browser-link {
    color: rgba(255, 255, 255, 0.9);
}

.menu a.item {
    color: #0d5b81 !important;
}

.ui.segment.text-back {
    /*background-color: rgba(80, 180, 219, 0.4);*/
}
