@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Black.otf) format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Bold.otf) format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-ExtraBlack.otf) format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-ExtraBold.otf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-ExtraLight.otf) format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Light.otf) format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Regular.otf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-SemiBold.otf) format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Thin.otf) format("opentype");
    font-weight: 100;
}

* {
    font-family: 'Panton';
}

#root {
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(118deg, #2b91de, #004e97);
}

.login {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


#dark {
    opacity: 0;
}

webview {
    position: fixed;
    top: 0;
    right: 0;
    width: 1024px;
    height: 768px;
    overflow: scroll;
}

#contacts {
    display: flex;
    flex-direction: column;
}

#contacts ul {
    overflow-y: scroll;
    height: calc(100vh -40px);
}

#contacts .fill {
    display: flex;
}

#contacts form {
    display: flex;
    flex-direction: column;
}

.online {
    background-color: rgba(0, 128, 0, 0.2);
}

header, footer {
    display: flex;
    color: #fff;
    padding: 0 15px;
    width: 100%;
}

header {
    background: linear-gradient(to right, #2b91de, #004e97);
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(200, 200, 200, 0.15);
}

footer {
    background: linear-gradient(to left, #2b91de, #004e97);
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(200, 200, 200, 0.15);
}

.body {
    display: flex;
    padding: 0 0 0 15px;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.column1 {
    width: 20%;
    min-width: 252px;
}

.column1:nth-child(2) {
    align-self: flex-end;
}

.column1:nth-child(3) {
    align-self: flex-start;
}

.leader-logo {
    max-width: 100%;
}

h1 {
    color: #ffffff;
}

input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ffffff;
    width: 90%;
    color: #ffffff;
    padding: 10px 4%;
    margin: 0px 2% 5px 0;
    text-transform: uppercase;
}

input:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: #ffffff;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.login button {
    background: #fac255;
    color: #ffffff;
}

.add-skype button {
    background: white;
    margin: 0;
    padding: 5px 11px;
    color: #999;
    font-weight: 600;
    box-shadow: 0 0 0;
    border: 0;
}

.add-skype button:hover {
    background: #fff;
    color: #004e97;
}

.skype-login .skype-button, .add-friends .skype-button {
    background-color: #b5cc18;
    background-image: none;
    color: #ffffff;
    text-shadow: none;
    font-size: 1rem;
    -moz-user-select: none;
    border: medium none;
    border-radius: 0.285714rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0) inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0.25em 0 0;
    height: 37px;
    outline: 0 none;
    padding: 10px 1.5em;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
    vertical-align: baseline;
      
}

.skype-login input {
    border: medium none;
    -moz-box-flex: 1;
background: #ffffff none repeat scroll 0 0;
border: 1px solid rgba(34, 36, 38, 0.15);
border-radius: 0.285714rem;
box-shadow: none;
color: rgba(0, 0, 0, 0.87);
flex: 1 0 auto;
font-family: Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;
line-height: 1.2142em;
margin: 0;
max-width: 100%;
outline: 0 none;
padding: 0.678614em 1em;
text-align: left;
transition: box-shadow 0.1s ease 0s, border-color 0.1s ease 0s;
color: #333;
text-transform: none;
margin-bottom: 5px;
}

.skype-login input::-webkit-input-placeholder {
    color: rgba(191, 191, 191, 0.87);
}

.skype-login input:focus::-webkit-input-placeholder {
 color: rgba(191, 191, 191, 0);   
}

.skype-login {
    min-width: 200px;
}

.add-skype #main {
    width: 50%;
}

button {
    color: #000;
    border: 0;
    box-shadow: 3px 0 7px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    padding: 13px 30px 8px;
    text-transform: uppercase;
    border-radius: 50px;
    font-weight: 400;
    margin: 20px 0;
    opacity: 0.95;
}

button:hover {
    cursor: pointer;
    opacity: 1;
}

.howuse {
    background: url("images/bg_how_to_use.png") no-repeat;
    padding: 50px 30px 0 20px;
    min-height: 300px;

}

.howuse > h3 {
    color: #2689d6;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.info {
    background: #ffffff;
    height: 250px;
    border-radius: 0 0 0 200px;
    padding: 70px 20px 20px 60px;
    text-align: right;
    border-left: 1px solid #ffc44b;
    border-bottom: 1px solid #ffc44b;
}

.info li, .info ul, .info p {
    list-style: none;
    margin: 0 !important;
    color: #a9a9a9;
    padding: 0 ;
}

.howuse > * {
    display: block;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 5px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.info h4 {
    color: #565656;
    font-size: 18px;
    margin: 10px 0;
}

.add-skype, .error, .add-friends, .send-message  {
    padding: 60px 15px;
}
.login {}


.error {
    display: flex;
}

.error > .message, .error > .background {
    flex-direction: column;
    width: 50%;
}

.background {
    height: 100vh;
    background: url(images/logo.png);
}

.error > * {
    color: #fff;
}

.add-skype #tab .fill .contacts-table {
    height: 200px;
    overflow-y: scroll;
    background: white;
    font-size: 12px;
    margin: 10px 0;
    width: 500px;
}

#tab input {
    background: white;
    color: black;
    width: 250px;
    border-bottom: 1px solid skyblue;
    margin: 0 0 10px;
    padding: 12px 10px 9px;
}

#tab > div > div > button {
    margin: 0;
    padding: 5px 12px 3px;
    font-size: 14px;
    background: teal;
    color: white;
}

#showOnline input {
    width: 20px;
    margin: 0 0 0 20px;
}

table {
    width: 100%;
    display: block;
}

.fill {
    display: flex;
    flex-direction: row;
}

.fill form {
    padding: 10px 20px;
}

.fill form > div {
    background: white;
    padding: 5px 20px 0;
    margin: 0 0 10px;
    width: 418px;
}

.fill textarea {
    width: 98%;
    height: 80px;
    padding: 1%;
    border: 0;
}

.fill button {
    background: yellow;
    margin: 6px 0;
    padding: 5px 15px 3px;
}

nav ul {
    margin: 0 0 5px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    min-width: 350px;
    justify-content: center;
}

nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    padding: 10px 15px;
    color: #fff;
    border: 1px solid #fff;
    border-left: 0px; 
}

nav ul li:first-child {
    border-left: 1px solid #fff;
    border-radius: 5px 0 0 5px;
} 
nav ul li:last-child {
    border-radius: 0 5px 5px 0;
}

nav ul li:hover, nav ul li:active, nav ul li:focus {
    background: #fff;
    color: grey;
    cursor: pointer;
}

.add-skype aside ol {
    margin: 0;
    padding: 0 15px;
    color: white;
}

.add-skype aside {
        width: 50%;
}

.add-skype aside ol li {
    margin: 5px 0 0 ;
    padding-left: 5px;
    font-weight: 600;
}

h1 {
    margin: 25px 0 10px;
    font-size: 30px;
    text-align: center;
}

.flex {
    display: flex;
}

.skype-login p {
    color: #fff;
    margin: 0 0 5px;
}

.skype-login p:last-child {
    color: #fff;
    margin: 5px 0 5px;
    font-size: 13px;
    font-style: italic;
}

.fa {
    margin-left: 25px; 
}

.fa:hover {
    cursor: pointer;
}

.fa-times {
    color: #fff;
    text-shadow: 2px 2px 3px #D74937;
    font-size: 28px;
}

acc:hover {
    cursor: pointer;
}

.flex-checkbox {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.checkbox {
 display: flex;   
 color: white;
 margin-right: 20px;
}

.checkbox .hidden {
 width: 17px;
 margin: 3px 0 0;
}

.checkbox:first-child .hidden:first-child {
 margin: 3px 0 0;   
}

p {
    text-align: center;
    color: white;
}

.flex-textarea {
    display: flex;
    justify-content: space-between;
}

.flex-textarea textarea {
    width: 96%;
    height: 90px;
    padding: 2%
}

.flex-textarea .field, .upload-txt {
    width: 96%;
}

.upload-txt {
    padding: 2%;
}

.flex-textarea input {
    border: 0;
    margin: 5px 0;
    padding: 0;
}

.flex-textarea p {
    margin: 0; 
}

.flex-radiobutton {
    display: flex;
    justify-content: center;
 flex-flow: wrap;   
}

.table {
    height: 157px;
    overflow-y: scroll;
        margin: 10px 10px 0 0;
        width: 50%;
}

table .hidden {
    width: 17px;
    padding: 0;
    margin: 0;
}

table {
    background: #ddd;
    font-size: 13px;
    display: table;
    border-spacing: 1px !important;

}

table thead {
    font-weight: 700;
    border: 0;
}

table tr:nth-child(odd){
    background: white;

}

.send-message .fields p {
    margin: 0 20px 0 0;
}

.send-message button {
 background-color: #b5cc18;
    background-image: none;
    color: #ffffff;
    text-shadow: none;
    font-size: 1rem;
    -moz-user-select: none;
    border: medium none;
    border-radius: 0.285714rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0) inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0.25em 0 0;
    height: 37px;
    outline: 0 none;
    padding: 10px 1.5em;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
    vertical-align: baseline;   
}

.flex-table {
    display: flex;
}

.flex-table .field {
    width: 50%;
    margin: 10px 0 0 10px;
}

.flex-table textarea {
        width: 98%;
    height: 110px;
    padding: 1%;
    border: 0;
}