@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Black.otf) format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Bold.otf) format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-ExtraBlack.otf) format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-ExtraBold.otf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-ExtraLight.otf) format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Light.otf) format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Regular.otf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-SemiBold.otf) format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Thin.otf) format("opentype");
    font-weight: 100;
}

p, h1, h2, h3, h4, h5, h6, input, body {
    font-family: Panton, sans-serif !important;
}

body {
}

#dark {
    opacity: 0;
}

webview {
    position: fixed;
    top: 0;
    right: 0;
    width: 1024px;
    height: 768px;
    overflow: scroll;
}

#app {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.layout.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout.app .content {
    flex: 1;
    overflow-y: hidden;
}

nav ul {
    padding: 4px 2px 0 2px;
}

nav li {
    display: inline-block;
    padding: 0 2px;
    list-style: none;
}

.contact-list-segment {
    display: flex;
    flex-direction: column;
}

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.contact-list-segment .scroll {
    flex: 1;
}

.page.delivery {
    display: flex;
    height: calc(100% - 14px);
}

.page.delivery > * {
    flex: 1;
    height: 100%;
}

.page.invite {
    height: calc(100% - 14px);
}

.page.invite .limit .ui.input {
    all: initial;
    display: inline-block;
}

.page.invite .limit [type=number] {
    all: initial;
    width: 60px;
    text-align: right;
    font-family: 'Panton', Ubuntu, sans-serif;
}

#app > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 15px 15px;
}

#app > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 15px 0px 0;
}

.content .one.column.row > .column {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

footer .two.column.row > .column:first-child {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

footer {
    background: radial-gradient(at top, #FEFFFF, #e5f7f6);
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

footer img {
    max-width: 45% !important;
    display: inline-block !important;
    height: auto;
}

footer .control {
    justify-content: center;
    display: flex;
}

footer .control > * {
    cursor: pointer;
}

footer.expanded .chevron {
    display: none;
}

footer.expanded .close {
    position: absolute;
    top: 0;
    right: 0;
}

footer.collapsed .close, footer.collapsed .advertise {
    display: none;
}

footer .control i:hover {
    cursor: pointer;
}

div.copyright {
    font-weight: 600;
}

.two.column.row .column > .widget.browser-link {
    background: white;
    padding: 13px 13px 15px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    max-width: 220px;
    justify-content: center;
    margin-top: 10px;
    transition: all 0.1s;
}

.two.column.row .column > .widget.browser-link:hover {
    background: #fdfdfd;
    transition: all 0.1s;
}

p, .copyright {
    margin: 8px 0em 0 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

input {
    border-radius: 3px !important;
    color: black !important;
    padding: 10px !important;
    font-family: panton !important;
    letter-spacing: 1px;
}

.contact-list-segment .item {
    cursor: pointer
}

.ui.horizontal.page.invite.segments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ui.horizontal.page.invite.segments > * {
    max-width: 67%;
}

.invite .text-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.invite .ui.segment .form .text-fields > .field {
    width: 48%;
}

.invite .form .button {

}

textarea {
    height: 112px;
}

.contact-list-segment .list > .item:before {
    content: "– ";
    font-weight: 900;
    color: red;
}

.contact-list-segment .list > .item:hover {
    font-weight: 600;
}

.contact-list-segment {
    min-width: 200px
}

.ui.horizontal.page.delivery.segments > * {
	max-width: 33%;
	min-width: 250px;
}

.ui.horizontal.page.delivery.segments #select-skype {
	width: 100%;
    margin-bottom: 10px;
}

.ui.horizontal.page.delivery.segments .ui.segment .ui.form > .control {
	height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
    align-items: center;
}

.ui.horizontal.page.delivery.segments .ui.segment .ui.form > .control strong {
	font-weight: 400;
	font-family: Panton, sans-serif;
}

.ui.horizontal.page.delivery.segments .ui.segment .ui.form > .field, 
.ui.horizontal.page.delivery.segments .ui.segment .ui.form > .field label {
    display: flex;
    flex-direction: column;
    font-size: 14px;	
    font-weight: 400;
	font-family: Panton, sans-serif;
}

.help-question {
	text-align: center;
    
}

.help-question i {
	color: #3498db;
    cursor: pointer;
}

.help-text .content p {
font-size: 12px;
    padding: 0 !important;
    margin: 0 !important;

}

.help-text {
    margin: 6px 0 0;
}

.page.account-list {
	    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;	
}

.page.account-list .remove.icon {
	cursor: pointer;
    font-size: 21px;
}

.page.account-list .remove.icon:hover {
	color: red;
}

.page.account-list .ui.list {
	max-width: 300px;
}

.page.account-list .ui.list .item {

}

.page.account-list > a {
	    padding: 15px 25px 15px;
    background: #3498db;
    border-radius: 43px;
    color: white;
    margin: 40px 0;
    display: block;
    text-align: center;
    width: 250px;
    font-size: 17px;
    font-family: Panton,sans-serif;
}

.page.account-list > a:hover {
	opacity: 0.9;
}

.ui.horizontal.page.delivery.segments .loader {
	height: 280px;
    margin: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui.button.open-file {
	margin: 0 auto 10px;
}

.ui.segment .ui.message .content p {
    margin: 0 !important;
    font-size: 12px;
    text-align: center;
}