@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Black.otf) format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Bold.otf) format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-ExtraBlack.otf) format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-ExtraBold.otf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-ExtraLight.otf) format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Light.otf) format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Regular.otf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-SemiBold.otf) format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Thin.otf) format("opentype");
    font-weight: 100;
}

body {
    font-family: 'Panton', Ubuntu, sans-serif;
}

#dark {
    opacity: 0;
}

webview {
    position: fixed;
    top: 0;
    right: 0;
    width: 1024px;
    height: 768px;
    overflow: scroll;
}

#app {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.layout.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout.app .content {
    flex: 1;
    overflow-y: scroll;
}

nav ul {
    padding: 4px 2px 0 2px;
}

nav li {
    display: inline-block;
    padding: 0 2px;
    list-style: none;
}

.delivery {
    display: flex;
}

.two-lists {
    display: flex;
}

.two-lists .list {
    min-width: 320px;
}

.two-lists .listitem {
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}