/*
@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Black.otf) format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Bold.otf) format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-ExtraBlack.otf) format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-ExtraBold.otf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-ExtraLight.otf) format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Light.otf) format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Regular.otf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-SemiBold.otf) format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Panton';
    src: url(images/Panton-Thin.otf) format("opentype");
    font-weight: 100;
}
*/

body {
}

#dark {
    opacity: 0;
}

webview {
    position: fixed;
    top: 0;
    right: 0;
    width: 1024px;
    height: 768px;
    overflow: scroll;
}

#app {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.layout.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout.app .content {
    flex: 1;
    overflow-y: hidden;
}

nav ul {
    padding: 4px 2px 0 2px;
}

nav li {
    display: inline-block;
    padding: 0 2px;
    list-style: none;
}

.contact-list-segment {
    display: flex;
    flex-direction: column;
}

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.contact-list-segment .scroll {
    flex: 1;
}

.page.delivery {
    display: flex;
    height: calc(100% - 14px);
}

.page.delivery > * {
    flex: 1;
    height: 100%;
}

.page.invite {
    height: calc(100% - 14px);
}

.page.account-list .item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.page.invite .limit .ui.input {
    all: initial;
    display: inline-block;
}

.page.invite .limit [type=number] {
    all: initial;
    width: 60px;
    text-align: right;
    font-family: 'Panton', Ubuntu, sans-serif;
}
