@font-face {
    font-family: Panton;
    src: url(images/Panton-Thin.otf) format(opentype);
    font-weight: 100;
}

p, h1, h2, h3, h4, h5, h6, input, body {
    font-family: Panton, sans-serif !important;
}

#dark {
    opacity: 0;
}

webview {
    height: 768px;
    overflow: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 1024px;
}

#app {
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
}

.layout.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout.app .content {
    flex: 1;
    overflow-y: hidden;
}

nav ul {
    padding: 4px 2px 0;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0 2px;
}

.contact-list-segment {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.contact-list-segment .scroll {
    flex: 1;
}

.page.delivery {
    display: flex;
    height: calc(100% - 14px);
}

.page.delivery > * {
    flex: 1;
    height: 100%;
}

.page.invite {
    height: calc(100% - 14px);
}

.page.invite .limit .ui.input {
    display: inline-block;
    all: initial;
}

.page.invite .limit [type=number] {
    font-family: Panton, Ubuntu, sans-serif;
    text-align: right;
    width: 60px;
    all: initial;
}

.widget.contact-list .search {
    width: 100%;
}

.widget.contact-list td {
    padding: 4px 8px;
}

#app > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 15px 0 0;
}

.content .one.column.row > .column {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

footer .two.column.row > .column:first-child {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background: radial-gradient(attop, #FEFFFF, #e5f7f6);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

footer img {
    display: inline-block !important;
    height: auto;
    max-width: 45% !important;
}

footer .control {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

footer.expanded .close {
    position: absolute;
    right: 0;
    top: 0;
}

.two.column.row .column > .widget.browser-link {
    align-items: center;
    background: #FFF;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    max-width: 220px;
    transition: all .1s;
    padding: 13px 13px 15px;
}

.two.column.row .column > .widget.browser-link:hover {
    background: #fdfdfd;
    transition: all .1s;
}

p, .copyright {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin: 8px 0 0 !important;
}

input {
    border-radius: 3px !important;
    color: #000 !important;
    font-family: panton !important;
    letter-spacing: 1px;
    padding: 10px !important;
}

.ui.horizontal.page.invite.segments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ui.horizontal.page.invite.segments > * {
    max-width: 67%;
}

.invite .text-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.invite .ui.segment .form .text-fields > .field {
    width: 48%;
}

textarea {
    height: 112px;
}

.widget.contact-list tr .add:before {
    color: green;
    content: "+ ";
    font-weight: 900;
}

.widget.contact-list tr .remove:before {
    color: red;
    content: "– ";
    font-weight: 900;
}

.ui.horizontal.page.delivery.segments > * {
    max-width: 33%;
    min-width: 250px;
}

.ui.horizontal.page.delivery.segments #select-skype {
    margin-bottom: 10px;
    width: 100%;
}

.ui.horizontal.page.delivery.segments .ui.segment .ui.form > .control {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 61px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ui.horizontal.page.delivery.segments .ui.segment .ui.form > .control strong {
    font-family: Panton, sans-serif;
    font-weight: 400;
}

.ui.horizontal.page.delivery.segments .ui.segment
.ui.form > .field, .ui.horizontal.page.delivery.segments
.ui.segment .ui.form > .field label {
    display: flex;
    flex-direction: column;
    font-family: Panton, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.help-question {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}

.help-question .question.circle {
    color: #3498db;
    cursor: pointer;
    margin-left: 4px;
}

.help-text .content p {
    font-size: 12px;
}

.help-text {
    margin: 6px 0 0;
}

.page.account-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page.account-list .remove.icon {
    cursor: pointer;
    font-size: 21px;
}

.page.account-list .remove.icon:hover {
    color: red;
}

.page.account-list .ui.list {
    max-width: 300px;
}

.page.account-list > a {
    background: #3498db;
    border-radius: 43px;
    color: #FFF;
    display: block;
    font-family: Panton, sans-serif;
    font-size: 17px;
    text-align: center;
    width: 250px;
    margin: 40px 0;
    padding: 15px 25px;
}

.page.account-list > a:hover {
    opacity: 0.9;
}

.ui.horizontal.page.delivery.segments .loader {
    align-items: center;
    display: flex;
    height: 280px;
    justify-content: center;
    margin: -5px;
}

.ui.button.open-file {
    margin: 0 auto 10px;
}

.ui.segment .ui.message .content p {
    font-size: 12px;
    text-align: center;
    margin: 0 !important;
}

footer .control > *, footer .control i:hover, .contact-list-segment .item {
    cursor: pointer;
}

footer.expanded .chevron, footer.collapsed .close, footer.collapsed .advertise {
    display: none;
}

div.copyright, .contact-list-segment .list > .item:hover {
    font-weight: 600;
}